*{
  justify-content: center;
  text-align: center;
}
#root{
  height: 100vh;
}
.container{
  margin-bottom: 25%!important;
}
.info{
  font-size: 1.6rem;
}
.column{
  border:solid black 1px ;
  width:6rem;
  height:6rem;
  text-align: center;
  padding: 1.5rem;
  font-size: 1.6rem;
}
input{
  text-align:left;
  padding-left: 1vw;
}
button{
  width: 10%;
  border-radius: 4px;
  background-color: white;
}
@media (max-width: 575.98px) {
  button{
    width:28%
  }
  .mb-pl{
    height: 5vh
  }
 }

@media (min-width: 575.98px) and (max-width: 767.98px) { 
  button{
    width:20%
  }
  .mb-pl{
    height: 5vh
  }
  .alert-danger{
    width: 25%!important;
  }
}

@media (min-width:  767.98px) and (max-width: 991.98px) {
  button{
    width:15%
  }
  input{
    width: 20vw;
  }
  .alert-danger{
    width: 25%!important;
  }
}

@media (min-width: 991.98px) { 
  .alert-danger{
    width: 25%!important;
  }
}
